<p id="notice"><%= notice %></p>

<h1>Listado de Citas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre Paciente</th>
      <th>Nombre Dentista</th>
      <th>Motivo de la visita</th>
      <th>Fecha de Cita</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= Pet.get_name(appointment.pet_id) %></td>
        <td><%= Doctor.get_name(appointment.doctor_id) %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.appointment_date %></td>

        <td><%= link_to 'Consultar', appointment %></td>
        <td><%= link_to 'Actualizar', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Cancelar', appointment, method: :delete, data: { confirm: '¿Está seguro de cancelar la cita?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agendar Cita', new_appointment_path %>
